.nav{
    height: 120px !important;
    border-bottom: 5px solid #5d4037;
}

.center-align{
   padding-top: 15px;
   font-family: lexend;
   font-size: 78px;
}

.a{
    color: black;
}

.a:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5))
}

.menu{
    position: absolute;
    top: 40px;
    left: 5%;
    font-size: 30px;
    transition: all 0.5s;
    cursor: pointer;
}

.menu:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5))
}

.search{
    position: absolute;
    top: 40px;
    left: 87%;
    font-size: 30px;
    transition: all 0.5s;
    cursor: pointer;
}

.search:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5))
}

.profile{
    position: absolute;
    top: 40px;
    left: 93%;
    font-size: 30px;
    transition: all 0.5s;
    cursor: pointer;
}

.profile:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5))
}

.notes{
    position: absolute;
    top: 40px;
    left: 90%;
    font-size: 30px;
    transition: all 0.5s;
    cursor: pointer;
}

.notes:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5))
}