.navBar{
    border-bottom: 5px solid #5d4037;
}

.row{
    align-items: center;
    display: flex;
    line-height: 1.71;
    vertical-align: middle;
    white-space: nowrap;
}

#title{
    text-align: center !important;
   font-family: lexend;
   font-size: 78px;
}

.a{
    color: black;
}

#menu{
    font-size: 30px;
    transition: all 0.5s;
    cursor: pointer;
}

#menu:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5))
}

#search{
    font-size: 30px;
    transition: all 0.5s;
    cursor: pointer;
    text-align: center;
}

#search:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5))
}

#profile{
    font-size: 30px;
    transition: all 0.5s;
    cursor: pointer;
    text-align: start;
}

#profile:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5))
}

#notes{
    font-size: 30px;
    transition: all 0.5s;
    cursor: pointer;
    text-align: end;
}

#notes:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5))
}